html {
  background-color: #fff;
  font-family: Merriweather, serif;
}

nav {
  list-style-type: none;
}

.logo {
  max-width: 4em;
  display: inline-block;
}

.icon {
  max-width: 12em;
}

.prices {
  max-width: 21em;
  margin: 1em;
}

nav li {
  display: inline-block;
}

fieldset {
  border: none;
}

.all-prices {
  justify-content: center;
}

.company {
  background-color: #fff;
}

.banner {
  position: relative;
  background-color: #7294c4;
}

.banner-text {
  position: absolute;
  left: 6em;
  top: 11em;
}

footer {
  background-color: #fff;
}

/* skip links */

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #d3def1;
  color: #000;
  padding: .5em .75em;
  text-decoration: none;
}

.skip-links a:focus {
  top: 1em;
}

/* button things */

a {
  text-decoration: none;
  text-align: left;
}

.hover-red:hover {
  color: #761c13;
}

.another-hover:hover {
  color: #d3def1;
}

.btn {
  border-radius: 0;
  border-color: #761c13;
  background-color: #761c13;
  color: #fff;
}

.btn-blue {
  border-color: #7294c4;
  background-color: #7294c4;
}

.ghost-btn {
  border-color: #7294c4;
  background-color: #fff;
  color: #7294c4;
}

.red-ghost-btn {
  border-color: #761c13;
  background-color: #fff;
  color: #761c13;
}

.btn:hover {
  border-color: #761c13;
  background-color: #fff;
  color: #761c13;
}

.btn-blue:hover {
  border-color: #7294c4;
  color: #7294c4;
}

.ghost-btn:hover {
  border-color: #7294c4;
  background-color: #7294c4;
  color: #fff;
}

/* Just colours */

.red {
  color: #761c13;
}

.current {
  color: #761c13;
}

.dark-blue {
  color: #7294c4;
}

.light-blue {
  color: #d3def1;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.bg-red {
  background-color: #761c13;
}

.bg-dark-blue {
  background-color: #7294c4;
}

.bg-light-blue {
  background-color: #d3def1;
}

.bg-lightest-blue {
  background-color: #eaf0f9;
}

.bg-white {
  background-color: #fff;
}

.border-bottom {
  border-bottom: 5px solid #d3def1;
}

.border-dark {
  border: 8px solid #7294c4;
}

.border-light {
  border: 8px solid #d3def1;
}

/* table stuff */

td {
  border: 1px solid #7294c4;
  height: 2em;
}

th {
  border: 1px solid #7294c4;
}

/* Form stuff */

.required {
  color: #7294c4;
}

.different {
  padding-right: 1.5rem;
}

.feild {
  border: 0;
  -webkit-box-shadow: -4px 10px 11px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -4px 10px 11px 3px rgba(0, 0, 0, 0.19);
  box-shadow: -4px 10px 11px 3px rgba(0, 0, 0, 0.19);
}

/* backgrounds */

.bg-marble {
  background-image: url("../images/backgrounds/marble.png");
  background-size: cover;
}

.bg-home {
  background-image: url("../images/backgrounds/bg-home.png");
  background-size: cover;
}

.bg-tour {
  background-image: url("../images/backgrounds/bg-tour.png");
  background-size: cover;
}

.bg-pricing {
  background-image: url("../images/backgrounds/bg-pricing.png");
  background-size: cover;
}

.bg-sign-up {
  background-image: url("../images/backgrounds/bg-form.png");
  background-size: cover;
}

.bg-success {
  background-image: url("../images/backgrounds/bg-success.png");
  background-size: cover;
}

/* media query */

@media only screen and (min-width: 25em) {

  .bg-banner {
    background-image: url("../images/banner-mobile.png");
    background-size: cover;
  }

}
